/***
General stylesheet for all
web pages in the website
*/

/*
all body elements have centered text in sans-serif font
*/
body {
    text-align: center;
    font-family: sans-serif;
    background:#99D9EA; /* light blue */
    color: #000000; /* black */
}

/*
anchors have new color scheme to match rest of the website
*/
a {
    color: #660066; /* purple */
}

/*
anchors switch their color when hovered over
*/
a:hover {
    color: #FFFF00; /* yellow */
}

/*
div is centered and has up to 75% width with centered text
*/
div {
    margin: auto;
    width: 75%;
}

/*
input, select, and textarea all have some vertical "margining"
*/
input, select, textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}
