/***
General stylesheet for all
web pages in the website
*/

/*
all body elements have centered text in sans-serif font
*/
body {
    text-align: center;
    font-family: sans-serif;
    background:#99D9EA; /* light blue background */
    color: #660066; /* dark purple text */
}

/*
anchors have new color scheme to match rest of the website
*/
a {
    color: #008000; /* dark green text */
}

/*
anchors get their background "highlighted" yellow when hovered over
*/
a:hover {
    background: #FFFF00;
}

/*
div is centered and has up to 75% width with centered text
*/
div {
    margin: auto;
    width: 75%;
}
