/***
General stylesheet for all
web pages in the website
*/

/*
all body elements have centered text in sans-serif font
*/
body {
    text-align: center;
    font-family: sans-serif;
    background: #333333; /* dark gray */
    color: #FF6600; /* orange */
}

/*
anchors have new color scheme to match rest of the website
*/
a {
    color: #FF944D; /* light orange */
}

/*
anchors switch their color when hovered over
*/
a:hover {
    color: #FFFFFF; /* white */
}

/*
div is centered and has up to 20% width with centered text with a darker background and some padding on all sides
*/
div {
    margin: auto;
    width: 20%;
    background: #222222; /* darker gray */;
    padding: 10px 10px 10px 10px; /* top right bottom left padding */
}

/*
input, select, and textarea all have some vertical "margining"
*/
input, select, textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
ul, ol need to be centered for browsers such as Chrome
*/
ul, ol {
    list-style-position: inside;
}

/*
p.err paragraphs are to show user error messages when they try to write a story that has parameter(s) that are too long
*/
p.err {
    color: #FF4D4D; /* red */
    background: #222222; /* darker gray */;
    padding: 10px 10px 10px 10px; /* top right bottom left padding */
    width: 50%;
    margin: 10px auto 10px auto; /* top right bottom left margin */
}
